# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# Intellij
.idea

# Maven
target/
*.xml.versionsBackup

# Intellij
.idea/
