#requireResourcesForContext("com.cloudflare.access.atlassian")
<html>
<head>
    <meta name="decorator" content="atl.general">
    <title>Error</title>
</head>
<body class="page-type-admin">
	<div class="content-container">
	    <div class="content-body">
			<div style="width:50%;margin: auto;padding: 25px;background: #f9f9f9;">
				<h1 style="text-align:center;margin-bottom: 25px;">
					<span class="aui-icon aui-icon-large aui-iconfont-lock">lock icon</span> 
					Unauthorized
				</h1>
				
				<p style="font-weight:bold">
					 You are not authorized to access this application.
				</p>
				
				<p>
					Reasons:
					<ul>
						<li>$errorMessage</li>
					</ul>
				</p>
				
				<p>
					Please, contact the application administrator.
				</p>
			</div>
	    </div>
	</div>
</body>
</html>
