<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--  to above line, add debug="true" to see logback spew to test logger problems -->

    <appender name="cf-access-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cloudflare.access.atlassian" level="DEBUG">
        <appender-ref ref="cf-access-console" />
    </logger>

    <!-- we probably don't want to change the root logger, should inherrit from existing config this way.
    <root level="INFO"/>
     -->
</configuration>